<!DOCTYPE html>
<html>
  <head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  
    <link rel="stylesheet" href="/stylesheets/main.css">     
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd; height:45px">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon""></span>
        </button> 
        <a class="navbar-brand" href="/">YelpCamp</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" style="margin-left: 75%;">
              <li class="nav-item">
                <a class="<%=typeof page !== 'undefined' && page === 'campgrounds' ? 'nav-link active' : 'nav-link'%>" aria-current="<%=typeof page !== 'undefined' && page === 'campgrounds' ? 'page' : '' %>" href="/campgrounds">Home</a>
              </li>
              <% if(!currentUser){ %>
                <li class="nav-item ml-2">
                  <a class="<%=typeof page !== 'undefined' && page === 'login' ? 'nav-link active' : 'nav-link'%>" aria-current="<%=typeof page !== 'undefined' && page === 'login' ? 'page' : '' %>" href="/login">Login</a>
                </li>
                <li class="nav-item ml-2">
                  <a class="<%=typeof page !== 'undefined' && page === 'register' ? 'nav-link active' : 'nav-link'%>" aria-current="<%=typeof page !== 'undefined' && page === 'register' ? 'page' : '' %>" href="/register">SignUp</a>
                </li>
            <% } else { %>
                <li class="nav-item ml-2"><a class="nav-link" href="#">Signed In As <%= currentUser.username %></a></li>
                <li class="nav-item ml-2"><a class="nav-link" href="/logout">Logout</a></li>
            <% } %>
            </ul>
          </div>
      </div>
    </nav>
    <hr>
    <hr>
    <div class="container">
      <%if(error && error.length>0){%>
      <div class="alert alert-success" role="alert">
        <%=error%>
      </div>
      <%}%>
      <%if(success && success.length>0){%>
      <div class="alert alert-warning" role="alert">
        <%=success%>
      </div>
      <%}%>
    </div>


    